<div class="smoothie-header">
    <h1>List of Smoothies</h1>
</div>


<div class="smoothies-show-page">
<%@smoothies.each do |smoothie|%>
    <div class="smoothies-show-item"><%=link_to smoothie.name, smoothy_path(smoothie)%></div>
<%end%>
</div>
