/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.login-form {
    position: fixed;
    top: 40%;
    left: 85%;
    transform: translate(-40%, -50%);
    padding: 2vh;
    background-color: lightblue;
    outline-style: solid;
    outline-width: medium;
    outline-color: blue;
    overflow: auto;
}

.signup-form {
    position: fixed;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
    padding: 2vh;
    background-color: lightblue;
    outline-style: solid;
    outline-width: medium;
    outline-color: blue;
    overflow: auto;
}

.signup-text {
    text-align: right;
}

.fridge-img {
    height: 85vh;
    padding-left: 34.5vw;
}

.fridge-content-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 3vw 3vw 3vw 3vw;
    grid-template-rows: 8vh 7.5vh 6.3vh 6vh 6vh;
    grid-column-gap: .3vw;
    grid-row-gap: 2.5vh;
    position: absolute;
    top: 37vh;
    left: 43.5vw;
}

.fridge-content-item {
    place-self: center;
    font-size: 5vh;
}

.kitchen-image {
    /* background-image: url("https://www.whirlpool.com/content/dam/business-unit/whirlpool/en-us/marketing-content/site-assets/page-content/kitchen-clp/refresh/kitchen_refrigeration_top-2.jpg"); */
    background-color: lightblue;
}

.user-info {
    color: black;
    font-family: impact-bold;
    font-size: medium;
    font-weight: bold;
    padding-left: 61vw;
    position: absolute;
    top: 38vh;
}

    